<?xml version="1.0" encoding="UTF-8"?>
<okcs>
	<browser>googlechrome</browser>
	<sitename>day760_19501_sql_255h</sitename>
	<IMURL>https://day760-19501-sql-255h-im.dq.lan/day760_19501_sql_255hInfoManager/WebObjects/InfoManager.woa</IMURL>
	<accountUser>enuser1</accountUser>
	<accountUserPwd>Account1234</accountUserPwd>
</okcs>